* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  background: #000;
  color: white;
}

.app {
  max-width: 1280px;
  min-width: 320px;
  font-family: 'Inter', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 38px 0 20px;
}

.app__main {
  margin: 48px 0 139px;
}

.hover__link:hover {
  opacity: 0.8;
  cursor: pointer;
}
